## All Tests Succeeded

* App: AngularCliStarter
  * _223 ms - should create the app_
  * _79 ms - should have as title 'app works!'_
  * _93 ms - should render title in a h1 tag_
  * _58 ms - should render SharedComponent in a h2 tag_
* SharedComponent
  * _57 ms - should create the component_
  * _61 ms - should have as default name 'world'_
  * _73 ms - should render default message_