## 5/8 Tests Failed!

* App: AngularCliStarter
  * **FAILED** _179 ms - should create the app_
  * **FAILED** _62 ms - should have as title 'app works!'_
  * **FAILED** _70 ms - should render title in a h1 tag_
  * **FAILED** _56 ms - should render SharedComponent in a h2 tag_
* SharedComponent
  * _252 ms - should create the component_
  * _135 ms - should have as default name 'world'_
  * _137 ms - should render default message_
  * **FAILED** _101 ms - component should update with name from parent_